<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Nginx</title>
</head>
<body>
    <h1>Hello, server{{ server_id }}</h1>
    <p>This is a custom index.html for server {{ server_id }}.</p>
</body>
</html>
